#header.logo-overlay-header {
    .overlay-logo {
        display: none;
    }
    @media (min-width: 992px) {
        .overlay-logo {
            display: inline-block;
            position: absolute;
            top: 0;
            z-index: 1;
            opacity: 1;
        }
        .overlay-logo-transition,
        .logo-transition {
            transition: .3s;
        }
        .logo {
            opacity: 0;
            transform: translate3d(87px,0,0);
        }
        &.sticky-header {
            .overlay-logo {
                opacity: 0;
                top: -90px;
                visibility: hidden
            }
            .logo {
                opacity: 1;
                transform: translate3d(0,0,0)
            }
        }
    }

}