
.master-slider {
    .ms-slide {
        overflow: hidden;
    }
}

#content,
#content-inner-top,
#content-inner-bottom {
    .master-slider {
        overflow: hidden;
        .ms-slide {
            .ms-slide-bgcont,
            .ms-slide-bgvideocont {
                overflow: hidden;
            }
        }
    }
    body.wide &,
    .column1.wide & {
        .master-slider {
            border-radius: 0;
            .ms-slide {
                .ms-slide-bgcont,
                .ms-slide-bgvideocont {
                    border-radius: 0;
                }
            }
        }
    }
}

#main.wide {
    #content,
    #content-inner-top,
    #content-inner-bottom {
        .master-slider {
            border-radius: 0;
            overflow: visible;
            .ms-slide {
                .ms-slide-bgcont,
                .ms-slide-bgvideocont {
                    border-radius: 0;
                    overflow: visible;
                }
            }
        }
    }
}

.banner-container {
    .master-slider {
        max-width: 100%;
        overflow: hidden;
    }

    .ms-thumb-list {
        padding-bottom: 6px;
    }

    .ms-thumb-frame {
        opacity: 1;
        border: 3px solid rgba(0, 0, 0, .25);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .25) inset;
        transition: .3s ease-out;
    }

    .ms-thumb-frame:hover,
    .ms-thumb-frame-selected {
        border-color: #fff;
    }

    .side-nav & {
        .master-slider {
            max-width: none;
        }
    }
}