// DIRECTIONAL
// ---------------------------------------------------------------
$rtl: 0 !default;
$dir: ltr !default;

@import "../theme/theme-imports";

#nav-panel {
    font-size: .9em;
    display: none;
    transition: transform .2s ease-in-out;
    padding-bottom: 15px;
    position: relative;

    .header-builder-p & {
        padding-top: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mobile-nav-wrap {
        padding: 0 !important;
        min-height: 6rem;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
        }
    }

    .menu-empty {
        font-size: 14px;
    }

    > .container, > .container > div {
        display: block !important;
    }

    .accordion-menu {
        .arrow:before,
        .open > .arrow:before {
            font-family: 'porto';
            content: "\e81c";
        }

        > li {
            > a {
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        li {
            padding-top: 1px;
            padding-bottom: 1px;
            border-bottom: 1px solid #e8e8e8;
            > a {
                margin-top: 0;
            }
        }

        .sub-menu {
            margin-#{$left}: 20px;
            padding-#{$left}: 0;
        }
    }

    .menu-wrap:last-child .accordion-menu:last-child li:last-child, .accordion-menu li li:last-child { border-bottom: none; }
}

#nav-panel {
    .welcome-msg {
        text-align: center;
        display: block;
        padding: 15px 10px;

        p {
            margin: 5px 0;
        }

        .pull-left,
        .pull-right {
            float: none !important;
        }
    }

    .accordion-menu {
        display: block;
        font-size: .8571em;

        li.menu-item.active > a,
        li.menu-item.active > .arrow{
            color: #fff
        }
        .arrow {
            background: none !important;
            top: 0;
            height: 35px;
            line-height: 35px;
        }
    }

    .mobile-menu {
        font-size: 1em;
    }

    .switcher-wrap {
        margin: 15px 0;
    }

    .woocs-switcher {
        li,
        li > h5 {
            cursor: pointer !important;
        }
    }

    .menu-custom-block {
        margin: 15px 0;

        a,
        span {
            display: block;
        }

        a {
            padding: 5px 6px;
            text-decoration: none;
        }
    }

    .share-links {
        font-size: 1em;
        margin: 15px 0;
        padding: 0 5px;
        text-align: center;
    }

}


#nav-panel .mobile-nav-wrap {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: max-height 1.2s;
}

#nav-panel .skeleton-body {
    max-height: 6rem;
}


@media (max-width: 991px) {
    #nav-panel .mobile-menu .hidden-item {
        padding: 0;
        border: none;
    }
    #nav-panel .mobile-menu .hidden-item:last-child {
        margin-bottom: -2px;
    }

}