/* search form */
.woocommerce-product-search {
    label {
        display: none;
    }
    .search-field {
        height: 100%;
        margin-bottom: 8px;
        vertical-align: top;
    }
}