/* Header */
@keyframes header-reveal {
    0% {
        margin-top: -150px;
    }
    100% {
        margin-top: 0;
    }
}

.header-wrapper {
    &.wide {
        .container {
            width: 100%;
            max-width: none;
        }
    }
}

#header .tooltip-icon,
#header .top-links > li.menu-item > a,
#header .searchform-popup .search-toggle {
    color: var( --porto-header-link-color-regular, #999 );
}

#header .top-links > li.menu-item:hover > a,
#header .top-links > li.menu-item > a.active,
#header .top-links > li.menu-item > a.focus,
#header .top-links > li.menu-item.has-sub:hover > a,
#header .searchform-popup .search-toggle:hover {
    color: var( --porto-header-link-color-hover, #999 );
}

#header {
    a {
        transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    }

    .header-right {
        text-align: $right;
    }
    
    .header-main {
        .container {
            position: relative;
            display: table;
            > div {
                display: table-cell;
                position: relative;
                vertical-align: middle;
            }
        }
    }

    &.header-loaded {
        .header-main {
            -webkit-backface-visibility: hidden;
        }
    }

    .header-main {
        position: relative;

        .container {
            min-height: 68px;

            @media #{$screen-small} {
                min-height: 43px;
            }

            .fixed-header & {
                min-height: 0;
            }
        }
        
        &.header-main-auto .container {
            min-height: auto !important;
        }
        #main-menu {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .gap {
        font-weight: 300;
        margin: 0 10px;
        font-size: .95em;
        opacity: .8;

        &.switcher-gap {
            margin: 0 5px;
        }
    }

    .mobile-show {
        display: none;
    }

    @media #{$screen-normal} {
        .mobile-hide {
            display: none;
        }
        .mobile-show {
            display: inline;
        }
    }

    &.sticky-header {
        .header-main {
            @include transition(none);

            .container { min-height: 60px; }
        }
        .header-main.change-logo {
            .logo {
                img {
                    transform: scale(.8);
                }
            }
        }
        .header-main.sticky {
            position: fixed;
            left: 0; right: 0;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            top: 0;
            z-index: 1001;
            box-shadow: 0 0 3px 0 var(--porto-normal-bc);

            .container {
                &.absolute {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }

            .header-reveal & {
                margin-top: 0;
                @include animation(header-reveal .4s ease-in);
            }
        }
        .logo {
            min-width: 0;
        }
    }

    &.sticky-header-calc {
        .header-main.sticky,
        .logo img,
        .header-main.change-logo {
            .header-left, .header-center, .header-right {
                @include transition(none);
            }
        }
    }

    .fixed-header.header-transparent-bottom-border & {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .fixed-header & {
        position: absolute;
        left: 0; right: 0;
        width: 100%;
        top: auto;
        z-index: 1001;
        border-top-width: 0;

        .header-main {
            position: relative;
            top: 0;
        }

        &.sticky-header {
            padding-bottom: 0 !important;
            border-bottom: none;
            .header-main {
                position: fixed;
            }
        }
        .header-main  {
            .header-left, .header-right, .header-center {
                padding-top: 15px;
                padding-bottom: 15px;

                @media #{$screen-normal} {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
        .searchform {
            @include transition(background .3s, border .3s);
        }
        .main-menu {
            @include transition(background .3s);
        }
    }
}

#header-boxed {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    .sticky-header {
        .header-main.sticky {
            @media (min-width: 768px) {
                max-width: calc( 720px + var(--porto-grid-gutter-width) );
            }
        }

        .header-main.sticky,
        .main-menu-wrap {
            margin-left: auto;
            margin-right: auto;

            @media (min-width: 992px) {
                max-width: calc( 960px + var(--porto-grid-gutter-width) );
            }
        }
    }
}
#header .header-main.e-con {
    --background-transition: 0;
}
#header .header-main.elementor-section {
    transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}


.porto-block-html-top button.mfp-close,
.custom-notice button.mfp-close {
    z-index: 999;
}
/* Logo */
#header {
    .logo {
        margin: 0;
        padding: 0;
        min-width: 80px;
        line-height: 0;
        max-width: var(--porto-logo-mw);

        a {
            display: inline-block;
            max-width: 100%;
        }
        img {
            display: none;
            color: transparent;
            max-width: 100%;
            transform-origin: $left center;
        }
        .standard-logo {
            display: inline-block;
        }
    }
    &.sticky-header {
        .logo {
            max-width: var(--porto-sticky-logo-mw);
            @media (max-width: 767px) {
                max-width: min(var(--porto-sticky-logo-mw), var(--porto-logo-mw));
            }
            .sticky-logo {
                display: inline-block;
            }
        }
        .sticky-logo ~ img {
            display: none;
        }
    }
    @media not all, only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
        .logo .standard-logo, &.sticky-header .logo .sticky-logo {
            display: none;
        }
        .logo .retina-logo, &.sticky-header .logo .sticky-retina-logo {
            display: inline-block;
        }
        &.sticky-header .sticky-retina-logo + .retina-logo {
            display: none;
        }
    }

    .logo-transition {
        img {
            transition: .3s;
        }
    }

    .logo-text {
        display: inline-block;
    }
}

// Currency, View Switcher, Top Navigation, Welcome Message
.no-flag li.menu-item>a>[class*='flag-'] {
    display: none;
}
.switcher-wrap {
    ul + ul {
        margin-#{$left}: 11px;
    }
}
.porto-view-switcher img, .wpml-ls-menu-item .wpml-ls-flag {
    max-width: 18px
}
.porto-view-switcher .flag {
    margin-#{$right}: .25rem
}
#header {
    .switcher-wrap {
        display: inline-block;
        white-space: nowrap;

        img {
            position: relative;
            top: -1px;
            margin-#{$right}: 3px;
        }
    }

    .porto-view-switcher,
    .top-links {
        font-size: .7857em;
        display: inline-block;
        vertical-align: middle;
        margin-top: 3px;
        margin-bottom: 3px;

        > li.menu-item {
            margin-#{$right}: 0;
            > a {
                font-size: 1em;
                font-weight: var(--porto-header-top-link-fw, 400);
                padding: 0 5px;
                line-height: 26px;
            }
            &.has-sub {
                &:hover {
                    > a {
                        margin-bottom: 0;
                    }
                }
            }
            > .popup {
                margin-top: 0;
                border-width: 0;
            }
        }
        .narrow {
            .inner > ul.sub-menu {
                box-shadow: 0 10px 30px 10px rgba(0, 0, 0, .05);
            }
            ul.sub-menu {
                padding: 5px 0;
                min-width: 0;
            }
            li.menu-item {
                > a {
                    font-size: 1em;
                    padding: 0 7px;
                    line-height: 25px;
                    border-bottom-width: 0;
                }
            }
        }
    }

    .woocs-switcher {
        li,
        li > .nolink {
            cursor: pointer !important;
        }
    }

    .top-links {
        white-space: nowrap;

        > li.menu-item {
            display: inline-block;
            float: $left;

            &:after {
                content: "|";
                font-weight: 300;
                position: relative;
                top: -1px;
                font-size: 0.95em;
                opacity: 0.8;
                margin: 0 5px;
            }

            &.active,
            &:hover,
            &.has-sub:hover {
                > a {
                    background: transparent;
                }
            }
            &:last-child {
                > a {
                    padding-#{$right}: 0;
                }
                &:after {
                    content: none;
                }
            }
        }
    }
}

/* Search Form */
@media #{$screen-normal} {
    #header .search-lg-auto {
        .searchform-popup,
        &.searchform-popup {
            .searchform {
                width: auto;
            }
        }
    }
}
#header {
    .searchform {
        display: inline-block;
        border: 1px solid var(--porto-searchform-border-color, #ccc);
        line-height: 38px;
        font-size: .8125rem;
        padding: 0;
        vertical-align: middle;

        @media #{$screen-normal} {
            border-width: 5px;
            display: none;
            position: absolute;
            #{$right}: -25px;
            top: 100%;
            margin-top: 8px;
            z-index: 1003;
            box-shadow: $menu-narrow-box-shadow;
        }

        @media (max-width: 375px) {
            #{$right}: -80px;
        }

        .searchform-fields, fieldset {
            @include display-flex;
        }

        .text,
        .cat,
        .button-wrap,
        .selectric-cat {
            display: block;
            text-align: $left;
        }
        .button-wrap {
            margin: 0;
        }
        input,
        select,
        button {
            background: none;
            border-radius: 0;
            border: none;
            outline: none;
            box-shadow: none;
            margin-bottom: 0;
            display: block;
            color: var(--porto-searchform-text-color, var(--porto-body-color));
        }
        input {
            &::placeholder {
                opacity: .7;
            }
            &:-ms-input-placeholder {
                opacity: .7;
            }
            &::-ms-input-placeholder {
                opacity: .7;
            }
        }
        input,
        select,
        .selectric .label,
        button {
            height: 40px;
        }
        input {
            padding: 0 15px 0 15px;
            width: 398px;
            font-size: inherit;
        }
        @media #{$screen-medium} {
            input {
                width: 280px;
            }
        }

        @media #{$screen-small} {
            input {
                width: 234px;
            }
        }
        @media (max-width: 374px) {
            input {
                width: 200px;
            }
        }
        @media (max-width: 320px) {
            input {
                width: 190px;
            }
        }
        select {
            padding: side-values(0 15px 0 15px);
            width: 130px;
            /*appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;*/
            &::-ms-expand {
                display: none;
            }
        }
        .selectric-cat {
            width: 129px;
        }
        .selectric {
            border-width: 0;
            .label {
                display: flex;
                padding: side-values(0 15px 0 15px);
                margin: 0;
                font-weight: normal;
                font-size: inherit;
                border-radius: 0;
                text-align: $left;
                letter-spacing: 0.005em;
                @include user-select(none);
                &:after {
                    content: '\e81c';
                    font-family: 'porto';
                    font-size: 14px;
                    margin-#{$left}: 4px
                }
            }
        }
        .selectric-open {
            z-index: 10000;
        }
        .selectric-items {
            #{$left}: 0px;
            max-width: 250px;
            ul,
            li {
                line-height: 18px;
                min-height: 18px;
            }
            li {
                border-width: 0;
                padding: 6px 8px;
            }
            &:focus {
                outline: none;
            }
        }
        input,
        select,
        .selectric {
            border-#{$right}: 1px solid var(--porto-searchform-border-color, #ccc);
        }
        .autocomplete-suggestions {
            width: auto !important;
            /*left: -1px;
            right: -1px;*/
            border-radius: 0;
        }
        .autocomplete-suggestion {
            padding: 10px 20px;
            line-height: 1.5em;
            min-height: 0;
            text-align: $left;

            .yith_wcas_result_image {
                float: $left;
                margin-#{$right}: 10px;
                margin-#{$left}: 0;
            }

            .yith_wcas_result_content {
                margin: 0;
            }

            span.yith_wcas_result_on_sale,
            span.yith_wcas_result_featured {
                padding: 3px 5px;
            }

            div.badges {
                #{$left}: auto;
                #{$right}: 8px;
                line-height: 1;
            }

            del {
                font-size: .8em;
            }

            ins {
                text-decoration: none;
            }
        }
    }
    .searchform-popup {
        display: inline-block;
        position: relative;
        @if $rtl == 1 {
            margin-left: 10px;
        }
        &.ssm-advanced-search-layout {
            
            @media #{$screen-normal} {
                display: block;
                .search-toggle {
                    display: none;
                }
                .searchform {
                    display: block;
                    position: static;
                    border-width: 1px;
                    margin-top: 0;
                }
            }
        }
        .search-toggle {
            cursor: pointer;
            display: none;
            text-align: center;
            position: relative;
            font-size: 26px;
            vertical-align: middle;

            &:after {
                content: "";
                position: absolute;
                z-index: 1003;
                display: none;
                left: 50%;
                top: 100%;
                margin-left: -11px;
                margin-top: -13px;
                width: 22px;
                height: 22px;
                border: 11px solid transparent;
                border-bottom-color: inherit;
                transition: border-bottom-color 0.3s;
            }

            &.opened:after {
                display: block;
            }

            @media #{$screen-normal} {
                display: inline-block;
            }
        }
        @media #{$screen-small} {
            .searchform {
                border-width: 3px;
                margin-top: 6px;
            }
        }
    }
    div.searchform-popup.ssm-advanced-search-layout {
        @media #{$screen-normal} {
            .searchform {
                box-shadow: none;
            }
        }
    }
    
    // border radius
    .search-rounded {

        &.simple-search-layout {

            .searchform-fields {
                border-radius: 20px;
            }

            input,
            select,
            .selectric .label,
            button {
                height: 36px;
            }
        }

        &:not(.simple-search-layout) {

		    .searchform {
                border-radius: 25px;
                line-height: 40px;
            }

            .live-search-list {
                #{$left}: 15px;
                #{$right}: 46px;
                width: auto;
            }
        }

        input {
            padding: side-values(0 15px 0 20px);
            border-radius: corner-values(20px 0 0 20px);
        }

        button {
            padding: side-values(0 16px 0 13px);
            border-radius: corner-values(0 20px 20px 0);
        }

        select,
        .selectric .label {
            padding: side-values(0 15px 0 10px);
            line-height: inherit;
        }

    }
    .header-left {
        @media #{$screen-normal} {
            .searchform {
                #{$left}: -10px;
                #{$right}: auto;
            }
        }
    }

    .header-right {
        @media #{$screen-medium} {
            .searchform {
                #{$left}: auto;
                #{$right}: -22px;
            }
        }

        @media #{$screen-small} {
            .searchform {
                #{$right}: -18px;
            }
        }
    }

    // popup 1 & 2 layout
    .search-dropdown {
        .search-toggle {
            display: inline-block;
        }
        .searchform {
            border-width: 5px;
            display: none;
            position: absolute;
            top: 100%;
            margin-top: 8px;
            z-index: 1003;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
            
            @media (min-width: 992px) {
                #{$left}: -25px;
            }
        }
    }

    .header-left .search-dropdown .searchform {
        #{$left}: -10px;
        #{$right}: auto;
    }
    .header-right .search-dropdown .searchform {
        #{$left}: auto;
        #{$right}: -22px;
    }

    // positions
    .search-dropdown {
        &.search-popup-left .searchform {
            #{$left}: auto;
            #{$right}: -1.25rem;
        }
        &.search-popup-center .searchform {
            #{$left}: 50%;
            #{$right}: auto;
            transform: translateX(if-ltr(-50%, 50%));
        }
        &.search-popup-right .searchform {
            #{$left}: -1.25rem;
            #{$right}: auto;
        }
    }

    @media #{$screen-normal} {
        .advanced-search-layout {
            &.search-popup-left .searchform {
                #{$left}: auto;
                #{$right}: -1.25rem;
            }
            &.search-popup-center .searchform {
                #{$left}: 50%;
                #{$right}: auto;
                transform: translateX(if-ltr(-50%, 50%));
            }
            &.search-popup-right .searchform {
                #{$left}: -1.25rem;
                #{$right}: auto;
            }
        }
    }

    // popup 1 layout
    .simple-search-layout {
        .searchform {
            padding: 15px 17px;
            border: none;
            z-index: 1002;
            top: 100%;
            box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);

            &:not(.searchform-cats) input {
                border: none;
            }
        }

        .searchform-fields {
            border: 1px solid #eee;
        }

        input {
            max-width: 220px;
        }
    }

    // reveal layout
    .reveal-search-layout {
        position: static;

        .search-toggle {
            display: inline-block;
            
            &:after {
                content: none;
            }
        }
        .searchform {
            display: none;
            position: absolute;
            top: 0;
            z-index: 1003;
            border: none;
            left: 0;
            right: 0;
            height: 100%;
            margin-top: 0;
            box-shadow: none;
        }
        &.search-popup .searchform {
            border-radius: 0;
        }
        .searchform .searchform-fields {
            transition: opacity 0.8s, clip-path cubic-bezier(0.215, 0.61, 0.355, 1)  0.8s, -webkit-clip-path cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
            opacity: 0;
            visibility: hidden;
            -webkit-clip-path: polygon(40% 0%,60% 0%,60% 100%,40% 100%);
            clip-path: polygon(40% 0%,60% 0%,60% 100%,40% 100%);
        }
	    .searchform-fields {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: center;
        }
	    input {
            font-size: 22px;
            width: 100% !important;
            border-width: 0 0 2px 0;
            border-style: solid;
            border-radius: 0;
            padding: 0 15px;

            &::placeholder {
                font-size: 22px;
            }
        }
        .searchform input {
            height: 44px;
        }
        .text {
            flex: 1;
        }
        .selectric-cat {
            display: none;
        }
        .button-wrap {
            display: flex;
            align-items: center;
            position: absolute;

            .porto-icon-magnifier::before {
                content: "\f002";
                font-family: var(--fa-style-family-classic, "Font Awesome 6 Free");
                font-weight: 900;
            }
        }
        .btn-close-search-form {
            font-size: 20px;
        }
        button {
            padding: 0 5px;
            font-size: 16px;
        }
    }
    
	.porto-search-opened & {
        .reveal-search-layout .searchform .searchform-fields {
            visibility: visible;
            opacity: 1;
            -webkit-clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
            clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
        }
    }
    
    // overlay layout
    .overlay-search-layout {
        .search-toggle {
            display: inline-block;
            min-width: 25px;

            &:after {
                content: none;
            }
        }
        .searchform {
            display: flex;
            position: fixed;
            top: 100%;
            z-index: 1003;
            border: none;
            left: 0;
            width: 100vw !important;
            height: 100vh !important;
            margin-top: 0;
            box-shadow: none;
            flex-direction: column;
            justify-content: center;
            padding-left: var(--porto-column-spacing);
            padding-right: var(--porto-column-spacing);
            visibility: hidden;
            opacity: 0;
            transition: top 0.3s, visibility 0.3s, opacity 0.3s;
        }
        &.search-popup .searchform {
            border-radius: 0;
        }
        .searchform-fields {
            align-items: center;
            position: static;
            padding-left: 0;
            padding-right: 0;
        }
        .live-search-list {
            position: static;
            max-width: var(--porto-container-width);
            margin: 0 auto;
        }
        &.search-popup .live-search-list {
            width: 100%;
        }
        input,
        select,
        .selectric,
        .selectric .label,
        button {
            border-width: 0;
            line-height: 44px;
        }
        .searchform {
            input,
            select,
            .selectric,
            .selectric .label,
            button {
                height: 44px;
            }
        }
        input {
            max-width: none;
            width: 100% !important;
            font-size: 22px;
            padding: 0 15px;
            border-radius: 0;
        }
        .text {
            flex: 1;
        }
        
	    .btn-close-search-form {
            position: absolute;
            #{$right}: 30px;
            top: 20px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }
        
        button {
            font-size: 1rem;
            padding: 0 5px;
        }
    }
    
	.porto-search-opened & {
        .overlay-search-layout .searchform.show {
            top: 0;
            opacity: 1;
            visibility: visible;
        }
    }

    // form layout
    .advanced-search-layout {
        button {
            font-size: 16px;
            padding: 0 15px;
        }
    }

    // customize header builder / page header builder
    &.header-builder {

        .large-search-layout,
        .advanced-search-layout {
            select,
            button,
            .selectric .label {
                height: 34px;
                line-height: 34px;
            }
            input {
                border: none;
                line-height: 1.5;
                height: 34px;
                width: 200px;
            }
            select {
                border-#{$left}: 1px solid var(--porto-searchform-border-color,#ccc);
                padding-#{$left}: 8px;
                margin-#{$right}: -3px;
                font-size: 13px;
            }
            .selectric {
                border-#{$left}: 1px solid var(--porto-searchform-border-color, #ccc);
            }
            .selectric .label {
                padding-#{$left}: 8px;
                margin-#{$right}: -3px;
            }
            button {
                padding: 0 12px;
            }
        }

        .advanced-search-layout .searchform {
            box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;

            @media (min-width: 992px) {
                box-shadow: none;
            }
        }
    }

    .fixed-header &.sticky-header .large-search-layout.search-rounded .searchform,
    .fixed-header &.sticky-header .reveal-search-layout.search-rounded .searchform,
    .fixed-header &.sticky-header .advanced-search-layout.search-rounded .searchform {
        border-radius: 20px;
    }

    .fixed-header &.sticky-header .large-search-layout .searchform,
    .fixed-header &.sticky-header .reveal-search-layout .searchform,
    .fixed-header &.sticky-header .advanced-search-layout .searchform {
        border-radius: 0;
    }
    
    .searchform {
        &.searchform-cats {
            input {
                width: 266px;
            }
        }
        
        @media #{$screen-medium} {
            &.searchform-cats {
                input {
                    width: 150px;
                }
            }
        }
        
        @media #{$screen-small} {
            &.searchform-cats {
                input {
                    width: 118px;
                    padding-#{$right}: 10px;
                }
                select {
                    width: 116px;
                    padding: 0 8px;
                }
                .selectric-cat {
                    width: 116px;
                }
                .selectric .label {
                    padding: 0 8px;
                }
            }
        }
    }
}

.dark #header {
    // popup 1, 2
    .search-dropdown {
        .search-form {
            box-shadow: 0 5px 8px rgba(255, 255, 255, 0.08);
        }
    }
    // popup 1
    .simple-search-layout {
        .searchform {
            box-shadow: 0 10px 30px 10px rgba(255, 255, 255, 0.02);
        }
    }
}

#header .search-toggle .search-text {
    display: none;
    text-transform: uppercase;
    margin-#{$left}: 5px;
}

/* Social Links */
#header {
    .share-links {
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;

        > a {
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
        }
    }
}

.main-menu {
    #header & {
        text-align: $left;
        background: none;

        @media #{$screen-normal} {
            display: none;
        }

        > li.menu-item {
            margin: side-values(0 1px 0 0);
            &:last-child {
                margin-#{$right}: 0;
            }
        }
    }
}

#main-menu {
    position: relative;

    &.centered {
        .mega-menu {
            justify-content: center;
            > li.menu-item {
                margin: 0 1px;
            }
        }
    }
}

// Mobile Header
#header:not(.header-builder) {
    @media #{$screen-normal} {
        .top-links {
            display: none;
        }
    }
    @media #{$screen-medium} {
        .switcher-wrap,
        .gap {
            display: none;
        }
    }
}

// Main Toggle Menu
#main-toggle-menu {
    position: relative;

    @media #{$screen-normal} {
        /*overflow: hidden;*/
        display: none;
    }

    .menu-title {
        color: #fff;
        cursor: pointer;
        background: #303030;
        font-size: .8571em;
        font-weight: $font-weight-bold;
        line-height: 20px;
        padding: 10px 15px;
        margin: 0;
        text-transform: uppercase;
        position: relative;
        @include transition($transition);

        &:hover {
            background-color: #555;
        }

        .toggle {
            display: inline-block;
            margin: side-values(0 5px 0 0);
            padding: 0;

            &:before {
                content: $fa-var-bars;
            }
        }
    }

    .toggle-menu-wrap {
        display: none;
        position: absolute;
        #{$left}: 0;
        top: 100%;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        z-index: 1001;

        > ul {
            border-bottom: 5px solid #303030;
            border-top-width: 0;
            border-right-width: 0;
            border-left-width: 0;
        }
    }

    &.closed {
        .toggle-menu-wrap {
            display: none;
        }
    }

    &.show-always {
        .menu-title {
            background: #303030;
            cursor: default;
        }

        .toggle-menu-wrap {
            height: auto !important;
            display: block !important;
        }
    }

    &.show-hover {
        .toggle-menu-wrap {
            animation: .3s linear menuFadeInDown;
        }
        &:hover {
            .toggle-menu-wrap {
                display: block;
            }
        }
    }

    .sidebar-menu {
        > li.menu-item {
            &:last-child {
                &:hover {
                    border-radius: 0;

                    .right-sidebar & {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

// Mobile Menu
#header {
    .mobile-toggle {
        cursor: pointer;
        padding: 7px 13px;
        text-align: center;
        display: none;
        font-size: 13px;
        vertical-align: middle;
        margin: side-values(8px 0 8px 1em);
        line-height: 20px;
        border-radius: .25rem;
        &:first-child {
            margin-#{$left}: 0;
        }
        @media #{$screen-normal} {
            display: inline-block;
        }
    }
    &.sticky-header .mobile-toggle {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.header-side-nav {
    .sidebar-menu {
        width: 100%;
        margin-#{$left}: 0;
    }
}

.header-side {
    z-index: 9;
}
.searchform {
    position: relative;
    .live-search-list {
        font-size: 14px;
        position: absolute;
        top: 100%;
        #{$right}: 0;
        width: 100%;
        min-width: 200px;
        z-index: 112;
        max-height: 0;
        transition: max-height .6s;
        &.porto-opened {
            max-height: 70vh;
        }
        .autocomplete-suggestions {
            font-family: var(--porto-body-ff), sans-serif;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            box-shadow: 0 10px 20px 5px var(--porto-normal-bc);
            max-height: 80vh;
        }
        
        .autocomplete-suggestion:hover {
            background-color: rgba(0, 0, 0, .05);
        }
    }
    #header & .button-wrap .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn {
        i {
            padding: 0 .4rem;
        }
        .porto-loading-icon {
            width: 1.25em;
            height: 1.25em;
            &:before {
                margin: 0;
            }
        }
        &:not(.porto-ajax-loading) .porto-loading-icon {
            display: none !important
        }
    }
    .porto-ajax-loading {
        i {
            visibility: hidden;
        }
    }
}
.autocomplete-suggestion {
    @include display-flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    white-space: normal;
    @media ( max-width: 576px ) {
        flex-wrap: wrap;
    }
}
.autocomplete-suggestion:last-child {
    border-bottom-color: transparent;
}
.autocomplete-suggestion img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-#{$right}: 10px;
}
.autocomplete-suggestion img+.search-name {
    padding-#{$left}: 0.5em;
}
.autocomplete-suggestion > .search-name,
.autocomplete-suggestion > .search-info-wrap {
    @include flex(1);
}
.autocomplete-suggestion .search-price {
    margin-#{$left}: 5px;
    font-size: .8571em;
    text-align: $right;
}
@media ( max-width: 576px ) {
    .autocomplete-suggestion .search-price {
        width: 100%;
        text-align: left;
        margin-#{$left}: 50px;
    }
}
.porto-search-overlay-wrap {
    overflow: hidden;
}