/* Slider */

@keyframes sliderScrollButton {
	0% {
		opacity: 1;
		transform: translate3d(-50%, 0, 0);
	}

	70% {
		opacity: 1;
		transform: translate3d(-50%, 10px, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(-50%, 10px, 0);
	}
}

.slider-title, .section-title {
    font-size: 1.1429em;
    line-height: 1.4;
    letter-spacing: normal;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: var(--porto-heading-color);
    margin-top: 0;
    margin-bottom: 1.25rem;
    position: relative;

    .line {
        display: block;
        height: 1px;
        position: relative;
        bottom: 0.65em;
        width: 0;

        @media #{$screen-small} {
            display: none !important;
        }
    }
}

.slider-scroll-button {
    position: relative;
    width: 57px;
    height: 57px;
    border-radius: 100%;
    display: inline-block;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 49%;
        width: 23px;
        height: 34px;
        border: 1px solid;
        border-radius: 15px;
        transform: translate3d(-50%, -50%, 0);
    }
    &:after {
        content: '';
        width: 6px;
        height: 10px;
        border-radius: 10px;
        border: 1px solid;
        position: absolute;
        top: 19px;
        left: 49%;
        transform: translate3d(-50%, 0, 0);
        animation: sliderScrollButton 2s ease infinite;
    }
}
